html, body{
    height: 100%;
    width: 100%;
}


    /* BARRA DE NAVEGAÇÃO */

.home-bar{
    background-color: #e0e0e0;
    height: 70px;
    width: 100%;
    display: flex;
    
    .home-bar-left-side{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
        margin-left: 30px;

        .home-bar-bars-toggle{
            width: 40px;
            height: 40px;
            background-color: #e0e0e0;
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            align-items: center;
            
            .home-bar-bars{
                background-color: #111;
                width: 40px;
                height: 6px;
                border-radius: 5px;
                transition-duration: .5s;
            }
        }

        .home-bar-bars-options{
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 180px;
            background-color: #e0e0e0;
            color: #111;
            text-decoration: none;
            font-size: larger;
            opacity: 0;
            border-radius: 50px;
            margin-left: 100px;
            margin-bottom: -20px;
        }
        
        .home-bar-bars-options:hover{
            background-color: #111;
            color: #e0e0e0;
        }

        #checkbox-bars{
            display: none;
        }

        #checkbox-bars:checked + .home-bar-bars-toggle #bar-1{
            transform: Translate(1px, -9px) rotate(45deg) scaleX(1.35);
            transition-duration: .5s;
            transform-origin: left;
        }
        
        #checkbox-bars:checked + .home-bar-bars-toggle #bar-2{
            transform: rotate(180deg);
            transition-duration: .8s;
            opacity: 0;
        }
        
        #checkbox-bars:checked + .home-bar-bars-toggle #bar-3{
            transform: Translate(2px, -13px) rotate(-45deg) scaleX(1.35);
            transition-duration: .5s;
            transform-origin: bottom;
        }
        
    }
    
    .home-bar-middle-side{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        height: 50px;
        overflow: hidden;
            
        .home-bar-title-page{
            text-align: center;
            color: #111;
            font-size: 22px;
            font-weight: 500;
            margin-top: 105px;
            letter-spacing: 3px;
            line-height: 2;
        }
    }
    
    .home-bar-right-side{
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;
        margin-right: 30px;

        .home-bar-circle-profile{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #111;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .home-bar-icon{
            color: #e0e0e0;
            position: absolute;
            opacity: 0;
        }

        #checkbox-contact{
            display: none;
        }
    }
}


    /* BARRA DE CONTATOS */

.home-contacts-container{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    position: absolute;
    flex-direction: column;
    width: 280px;
    height: 275px;
    overflow: hidden;

    .home-bar-contacts{
        display: flex;
        align-items: center;
        justify-content: end;
        height: 50px;
        width: 200px;
        border-radius: 50px;
        margin-right: -200px;
        color: #111;
        background-color: #e0e0e0;
        font-size: larger;
        text-decoration: none;
        
        .contact-content{
            margin-left: 10px;
            margin-right: 20px;
        }
    }

    .home-bar-contacts:hover{
        background-color: #111;
        color: #e0e0e0;
    }
}


    /* PÁGINA INICIAL */

.home-page{
    display: block;
        
    .home-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 70px;
    }
}
    
.container-text{
    display: flex;
    align-items: center;
    flex-direction: column;
        
    .text-1{
        color: #eee;
        font-size: 18px;
        letter-spacing: 10px;
        margin-bottom: -5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition-duration: 1.5s;
    }
    
    .text-2{
        background-image: linear-gradient(to right, #e0e0e0, #555 );
        background-clip: text;
        color: transparent;
        font-size: 50px;
        margin-bottom: 0px;
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .text-3 {
        color: #e0e0e0;
        font-size: 25px;
        margin-bottom: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.page-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;

    .link-1, .link-2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #111;
        width: 160px;
        padding: 5px;
        border-radius: 30px;
        text-decoration: none;
        text-align: center;
        background-image: linear-gradient(to right, #e0e0e0, #777 );
        transition-duration: .8s;
    }

    .link-1{
        background-image: linear-gradient(to right, #e0e0e0, #777 );
    }

    .link-2{
        background-image: linear-gradient(to left, #e0e0e0, #777);
    }

    .link-1:hover, .link-2:hover{
        transform: scale(1.1);
    }
}





/* TALK PAGE */

.talk-page{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-left: 10%;
        margin-top: 80px;
        flex-wrap: wrap;
    }

    p{
        color: #e0e0e0;
        font-size: large;
        font-weight: 400;
        cursor: pointer;
    }

    a{
        color: #e0e0e0;
        width: 100%;
        text-decoration: none;
    }

    input{
        width: 100%;
        height: 40px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #e0e0e0;
        border-radius: 10px;
        font-weight: 600;
    }
}
    
.conect-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
    margin-top: 20px;

    .conect-type{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 0px;
    }
        
    .selection-bar{
        display: flex;
        align-items: center;
        width: 90%;
        height: 10px;
        margin-top: 10px;
        border-radius: 20px;
        background-color: #888;

        .selection-type-bar{
            width: 120px;
            height: 10px;
            border-radius: 20px;
            background-color: #eee;
            transition-duration: .8s;
        }
    }

    .log-in{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        width: 90%;

        .password-container{
            display: flex;
            justify-content: end;
            width: 100%;
            
            .show-password-checkbox{
                position: absolute;
                margin-top: 10px;
                margin-right: 35px;
                scale: 1.2;
                
                .fa-eye{
                    position: absolute;
                    cursor: pointer;
                }
        
                .fa-eye-slash{
                    position: absolute;
                    cursor: pointer;
                }
            }
        }


    }

    .sign-in{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        width: 90%;
    }
}
    
.description-container{
    display: flex;
    min-width: 20%;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    
    .description{
        display: flex;
        cursor: default;
        font-size: larger;
        font-weight: 500;
        letter-spacing: 4px;
    }
}



/* ABOUT PAGE */

.port-page{
    display: block;

    .habilits, .projects, .about{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 90px;
        width: 100%;
    }


    .name-section{
        display: flex;
        align-items: end;
        justify-content: center;
        width: 5%;
        transform: translateY(100px);
        
        p{
            transform: rotate(-90deg);
            color: #e0e0e0;
            letter-spacing: 7px;
            font-size: 22px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            white-space: nowrap;
        }
    }
}


.port-about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;

    .port-about-card{
        display: flex;
        align-items: top;
        justify-content: start;
        flex-direction: column;
        width: 80%;
        height: 80%;
        border: #e0e0e0 solid 2px;
        border-radius: 30px;

        .port-about-title{
            display: inline-block;
            color: #e0e0e0;
            margin-left: 5%;
            font-size: larger;
            background-color: #111;
            padding-left: 15px;
            padding-right: 15px;
        }

        .port-about-text{
            color: #e0e0e0;
            margin-top: -10px;
            margin-left: 8%;
            margin-right: 8%;
            font-size: large;
        }
    }
}

.port-habilits-container{
    display: flex;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;

    .port-habilits-card{
        display: flex;
        align-items: top;
        justify-content: start;
        flex-direction: column;
        width: 180px;
        margin: 25px;
        padding: 20px;
        border-radius: 20px;
        background-color: #e0e0e0;

        .port-habilits-card-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            transform: scale(1.5);
            border-radius: 10px;

        }

        .front-end{
            background-image: linear-gradient(to bottom, rgb(95, 138, 255), #000080 );
        }
        
        .back-end{
            background-image: linear-gradient(to bottom, orange, orangered );
        }

        .data-science{
            background-image: linear-gradient(to bottom,  #77cc00, #44bb00);
        }

        .port-habilits-card-title{
            flex-wrap: wrap;
            font-size: x-large ;
            font-weight: 1000;
            margin-top: 20px;
        }

        .port-habilits-card-line{
            height: 2px;
            background-color: #111;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .port-habilits-card-text{
            color: #111;
            font-size: larger;
            margin-top: 10px;
        }

    }
}

.port-projects-container{
    display: flex;
    flex-direction: column;
    width: 95%;

    .port-filter-container{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap:  nowrap;
        overflow: auto;
        margin-left: 5%;
        width: 90%;    
    
        .filter-button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            min-width: 100px;
            padding: 10px;
            color: #ccc;
            border: #ccc solid 2px;
            border-radius: 20px;
            background-color: transparent;
        }

        .button-active{
            color: lawngreen;
            border: lawngreen solid 2px;
        }
    }
    
    .port-project-cards-container{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 3%;
        flex-wrap: wrap;

        .port-project-card-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px;
        }

        .port-project-card{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 300px;
            min-height: 200px;
            border-radius: 50px;
            background-color: #e0e0e0;
            text-decoration: none;
            color: #111;
            font-size: x-large;
            font-weight: 500;
            
        }

        .port-project-description{
            width: 0px;
            height: 0px;
            position: absolute;
            opacity: 0;
            border-radius: 20px;
            border: #000 solid 2px;
            background-color: #ccc;
            transform: translatey(-90px);
            flex-wrap: wrap;
            padding: 10px;
            font-weight: 500;
        }

        .port-project-card:hover + .port-project-description{
            min-width: 300px;
            min-height: 70px;
            transform: translate(40px, -120px);
            transition-duration: 1s;
            opacity: 1;
        }
    }
}

