html, body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    touch-action: none;
}

.home-page{
    display: block;
}

.about-page{
    display: none;
}

.portfolio-page{
    display: none;
}

.home-bar{
    background-color: #e0e0e0;
    height: 70px;
    width: 100%;
    display: flex;
}

.home-bar-left-side{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    margin-left: 30px;
}

.home-bar-middle-side{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.home-bar-right-side{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    margin-right: 30px;
}

.home-bar-bars-toggle{
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.home-bar-bars{
    background-color: #111;
    width: 40px;
    height: 6px;
    border-radius: 5px;
    transition-duration: .5s;
}

#checkbox-bars{
    display: none;
}

#checkbox-bars:checked + .home-bar-bars-toggle #bar-1{
    transform: Translate(1px, -9px) rotate(45deg) scaleX(1.35);
    transition-duration: .5s;
    transform-origin: left;
}

#checkbox-bars:checked + .home-bar-bars-toggle #bar-2{
    transform: rotate(180deg);
    transition-duration: .8s;
    opacity: 0;
}

#checkbox-bars:checked + .home-bar-bars-toggle #bar-3{
    transform: Translate(2px, -13px) rotate(-45deg) scaleX(1.35);
    transition-duration: .5s;
    transform-origin: bottom;
}

.home-bar-title-page{
    text-align: center;
    color: #111;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 135px;
}

.home-bar-bars-options{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
    background-color: #e0e0e0;
    color: #111;
    text-decoration: none;
    font-size: larger;
    opacity: 0;
    border-radius: 50px;
    margin-left: 100px;
    margin-bottom: -20px;
}

.home-bar-circle-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkbox-contact{
    display: none;
}

.home-bar-contacts{
    display: flex;
    position: absolute;
    justify-content: end;
    align-items: center;
    height: 50px;
    width: 200px;
    margin-bottom: -20px;
    margin-right: -240px;
    background-color: #e0e0e0;
    color: #111;
    text-decoration: none;
    font-size: larger;
    opacity: 1;
    border-radius: 50px;
}

.contact-content{
    margin-left: 10px;
    margin-right: 20px;
}

.home-bar-icon{
    color: #e0e0e0;
    position: absolute;
    opacity: 0;
}

.home-layout-container{
    display: flex;;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 8%;
}

.home-layout-container-text{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 5%;
}

.home-layout-container-image{
    display: flex;
    max-width: 400px;
    max-height: 400px;
    background-color: #e0e0e0;
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: auto;
    box-shadow: 0px 00px 50px #e0e0e0;
}

.text-1{
    color:limegreen;
    margin-bottom: -10px;
}

.text-2{
    color: #e0e0e0;
    font-size: 60px;
    margin-bottom: -10px;
}

.text-3{
    color: #e0e0e0;
    font-size: 35px;
    margin-bottom: -10px;
}

.text-4{
    color: #e0e0e0;
}

.home-layout-image{
    object-fit: cover;
    border-radius: 50%;
    margin: 8px;
}
